@{
	ViewData["Title"] = Localizer["Calculation page title"];
}

@await Html.PartialAsync("_DataLoadingErrorPartial")

<div id="calculateFormDiv">
</div>

<div id="configurationDisplayDiv">
</div>

<script src="~/js/Calculate.js" asp-append-version="true"></script>