@{
	ViewData["Title"] = Localizer["Calculation page title"];
}

@await Html.PartialAsync("_DataLoadingErrorPartial")

<div id="calculatePageContentDiv">

	<div id="calculateFormDiv">
	</div>

	<div id="configurationDisplayDiv">
	</div>

</div>


<script src="~/js/Calculate.js" asp-append-version="true"></script>