@{
	ViewData["Title"] = "History";
}

<h5 class="d-sm-none mb-4">
	@Localizer["Welcome,"] <span id="eMailDisplayHistoryPageSpan" class="text-primary">@User.Identity!.Name</span>!
</h5>

<div id="configurationsListBoxDiv">
</div>

<input type="hidden" id="selectedConfigurationId"/>

<div id="configurationHistoryDisplayDiv">
</div>

<script src="~/js/History.js" asp-append-version="true"></script>
