@{
	ViewData["Title"] = "History";
}

@if (!User.Identity!.IsAuthenticated)
{
	<h4>
		@Localizer["Signin with Google to watch history"]
	</h4>
	<a asp-controller="@nameof(Account)" asp-action="@nameof(Account.SignInWithGoogle)" class="btn btn-outline-primary mt-3">
		@Localizer["Sign In with Google"]
	</a>
}
else
{
	<p>
		The history page
	</p>
}
