<div id="pleaseWaitTotalDiv" class="d-none position-fixed top-0 start-0 w-100 h-100 bg-black bg-opacity-10">
	<div id="pleaseWaitCentralDiv" class="d-flex w-100 h-100 justify-content-center align-items-center">
		<div id="pleaseWaitMessageDiv" class="fw-bold fs-3 bg-white bg-opacity-75 p-3">
			@Localizer["Please wait..."]
		</div>
	</div>
</div>
