<div class="text-center">
	@if (User.Identity!.IsAuthenticated)
	{
		<a href="#" class="nav-link text-white fw-semibold">
			@*Link to history page*@
			@Localizer["Hello"]@User.Identity.Name
		</a>
		<form asp-action="Logout" asp-controller="Account" method="post">
			<button type="submit" class="btn btn-sm btn-outline-light">
				@Localizer["LogOut"]
			</button>
		</form>
	}
	else
	{
		<a asp-action="SignInWithGoogle" asp-controller="Account" class="nav-link text-white fw-semibold">
			@Localizer["Sign in with Google"]
		</a>
	}
</div>